<section id="portfolio" class="two">
	<div class="container">

		<header>
			<h2>Paintings For Sale</h2>
		</header>

		<p>I am selling the originals of these paintings. Please <a href='for-sale/#contact' id='smooth-scroll'>get in touch</a> if you would like to buy one!</p>

		<div class="row">
			<div class="4u 12u$(mobile)">
				{{ range $entry := .Site.Params.sale1 }}
				<article class="item clickable" id="{{ .id }}">
					<a class="image fit"><img
							src="{{ $.Site.Params.imagefolder }}/{{ .filename }}_thumb.jpg"
							alt="{{ .alt }}" /></a>
					<header>
                        <h3>"{{ .name }}" - {{ .medium }} - {{ .year }}</h3>
						{{ if $entry.price }}
							<h3>{{ $.Site.Params.currency }}{{ .price }}</h3>
						{{ else }}
							<h3>SOLD</h3>
						{{ end }}
					</header>
				</article>


				<div id="{{ .id }}Modal" class="modal">
					<img class="modal-content" id="{{ .id }}ModalImg" />
					<div id="{{ .id }}Caption" class="caption"></div>
				</div>


				<script>
					var modal = document.getElementById("{{ .id }}Modal");
					var img = document.getElementById("{{ .id }}");
					var modalImg = document.getElementById("{{ .id }}ModalImg");
					var captionText = document.getElementById("{{ .id }}Caption");
					img.onclick = function () {
						modal.style.display = "block";
						modalImg.src = "{{ $.Site.Params.imagefolder }}/{{ .filename }}.jpg";
						captionText.innerHTML = "\"{{ .name }}\" &ndash; {{ .medium }} &ndash; {{ .year }} &ndash; {{ .size }} &ndash; {{ if $entry.price }} {{ $.Site.Params.currency }}{{ .price }} {{ else }} SOLD {{ end }}";
					}
					modal.onclick = function () {
						modal.style.display = "none";
						modalImg.src = "";
						captionText.innerHTML = "";
					}
				</script>
				{{ end }}
			</div>


			<div class="4u 12u$(mobile)">
				{{ range $entry := .Site.Params.sale2 }}
				<article class="item clickable" id="{{ .id }}">
					<a class="image fit"><img
							src="{{ $.Site.Params.imagefolder }}/{{ .filename }}_thumb.jpg"
							alt="{{ .alt }}" /></a>
					<header>
						<h3>"{{ .name }}" - {{ .medium }} - {{ .year }}</h3>
						{{ if $entry.price }}
							<h3>{{ $.Site.Params.currency }}{{ .price }}</h3>
						{{ else }}
							<h3>SOLD</h3>
						{{ end }}
					</header>
				</article>

				<div id="{{ .id }}Modal" class="modal">
					<img class="modal-content" id="{{ .id }}ModalImg" />
					<div id="{{ .id }}Caption" class="caption"></div>
				</div>

				<script>
					var modal = document.getElementById("{{ .id }}Modal");
					var img = document.getElementById("{{ .id }}");
					var modalImg = document.getElementById("{{ .id }}ModalImg");
					var captionText = document.getElementById("{{ .id }}Caption");
					img.onclick = function () {
						modal.style.display = "block";
						modalImg.src = "{{ $.Site.Params.imagefolder }}/{{ .filename }}.jpg";
						captionText.innerHTML = "\"{{ .name }}\" &ndash; {{ .medium }} &ndash; {{ .year }} &ndash; {{ .size }} &ndash; {{ if $entry.price }} {{ $.Site.Params.currency }}{{ .price }} {{ else }} SOLD {{ end }}";
					}
					modal.onclick = function () {
						modal.style.display = "none";
						modalImg.src = "";
						captionText.innerHTML = "";
					}
				</script>

				{{ end }}
			</div>

			<div class="4u 12u$(mobile)">
				{{ range $entry := .Site.Params.sale3 }}
				<article class="item clickable" id="{{ .id }}">
					<a class="image fit"><img
							src="{{ $.Site.Params.imagefolder }}/{{ .filename }}_thumb.jpg"
							alt="{{ .alt }}" /></a>
					<header>
                        <h3>"{{ .name }}" - {{ .medium }} - {{ .year }}</h3>
						{{ if $entry.price }}
							<h3>{{ $.Site.Params.currency }}{{ .price }}</h3>
						{{ else }}
							<h3>SOLD</h3>
						{{ end }}
					</header>
				</article>

				<div id="{{ .id }}Modal" class="modal">
					<img class="modal-content" id="{{ .id }}ModalImg" />
					<div id="{{ .id }}Caption" class="caption"></div>
				</div>

				<script>
					var modal = document.getElementById("{{ .id }}Modal");
					var img = document.getElementById("{{ .id }}");
					var modalImg = document.getElementById("{{ .id }}ModalImg");
					var captionText = document.getElementById("{{ .id }}Caption");
					img.onclick = function () {
						modal.style.display = "block";
						modalImg.src = "{{ $.Site.Params.imagefolder }}/{{ .filename }}.jpg";
						captionText.innerHTML = "\"{{ .name }}\" &ndash; {{ .medium }} &ndash; {{ .year }} &ndash; {{ .size }} &ndash; {{ if $entry.price }} {{ $.Site.Params.currency }}{{ .price }} {{ else }} SOLD {{ end }}";
					}
					modal.onclick = function () {
						modal.style.display = "none";
						modalImg.src = "";
						captionText.innerHTML = "";
					}
				</script>

				{{ end }}
			</div>
		</div>

		<header>
			<h2>Prints, Phone Cases and More</h2>
		</header>

		<p>You can also buy prints of my art on INPRNT or RedBubble!<br>
		INPRNT produces gallery quality prints, where as RedBubble offers a wider variety of products (such as stickers and even clocks).</p>

		<footer>
			<a href="https://www.inprnt.com/gallery/kine" class="button">INPRNT Store</a>
			<a href="https://www.redbubble.com/people/KinesArt/explore" class="button">RedBubble Store</a>
		</footer>

	</div>
</section>
