<script>
	var norwayMap = L.map('mapid').setView([64.359, 11.250], 4);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 15,
		minZoom: 4,
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1,
		accessToken: '{{ .Site.Params.mapboxkey }}'
	}).addTo(norwayMap);
	{{ range .Site.Params.marker }}
		</script>

		<div id="{{ .id }}MapModal" class="modal">
			<img class="modal-content" id="{{ .id }}MapModalImg" />
			<div id="{{ .id }}MapCaption" class="caption"></div>
		</div>

		<script>
			var modal = document.getElementById("{{ .id }}MapModal");
			var modalImg = document.getElementById("{{ .id }}MapModalImg");
			var captionText = document.getElementById("{{ .id }}MapCaption");
			L.marker([{{ .x }}, {{ .y }}]).addTo(norwayMap).on('click', function(e) {
				modal.style.display = "block";
				modalImg.src = "{{ $.Site.Params.tourfolder }}/{{ .filename }}.jpg";
				captionText.innerHTML = "{{ .location }} &ndash; {{ .medium }} &ndash; {{ .size }}";
			});
			modal.onclick = function () {
				modal.style.display = "none";
				modalImg.src = "";
				captionText.innerHTML = "";
			}
	{{ end }}
</script>
